# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment variables

.env.local
.env.development.local
.env.test.local
.env.production.local

# Google Cloud credentials
*credentials*.json
*google*.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db 
seamo-speechtotext-4713d04e86a2.json
deploy.sh